<app-header title="Resources">
    <div class="action">
        <a class="a-button a-button--info" (click)="openUploadFileModal()"><span class="uil uil-upload"></span> Upload file</a>
        <a class="a-button a-button--info" (click)="openCreateDirectoryModal()"><span class="uil uil-plus"></span> Create directory</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <app-resources
            (resourceSelect)="handleSelection($event)"
            (directoryChange)="handleDirectoryChange($event)"
            [multiple]="false"
            [enabledActions]="['delete']"
            [initialDirectory]="initialDirectory"
        ></app-resources>
    </div>
</div>
