<div class="m-header">
    <div class="m-header__title-container">
        <p *ngIf="description" class="m-header__description">
            {{ description }}
        </p>
        <h1 class="m-header__title">
            {{ title }}
        </h1>
    </div>
    <div class="m-header__action">
        <div class="m-header__meta" *ngIf="meta">{{ meta }}</div>
        <ng-content select=".action"></ng-content>
    </div>
</div>
