<app-header description="Content Types" [title]="formValues?.name"></app-header>
<div class="o-page">
    <app-entity-type-form
        [entityType]="contentType"
        [contentFields]="contentFields"
        [workflows]="workflows"
        (formChange)="handleFormChange($event)"
    ></app-entity-type-form>
    <div class="o-page__section">
        <div class="u-display--flex u-display--space-between">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
            <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
        </div>
    </div>
</div>
