.a-box {
    border-radius: $border-radius;
    background-color: $grey-lighter;
    padding: $spacer;
    color: $grey-dark;

    &__title {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 $spacer-x-small;
    }

    &__content {
        margin: 0;
    }

    &--primary {
        background-color: $primary;
        color: $white;
    }
}
