.a-button {
    background-color: $grey-dark;
    border: 2px solid $grey-dark;
    color: $grey-lighter;
    display: inline-block;
    padding: $spacer-small $spacer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .1s ease;
    font-size: .9rem;
    border-radius: $border-radius;
    cursor: pointer;

    &.a-button--active {
        border-bottom: 2px solid $primary;
    }

    &:hover {
        background-color: $grey-darker;
        color: $white;
    }

    &.a-button--transparant {
        border: transparent;
        background-color: transparent;
        color: $grey-darker;

        &:hover {
            background-color: $white !important;
        }

        &.a-button--danger {
            color: $state-danger;
            background-color: transparent;
        }

        &.a-button--warning {
            color: $state-warning;
            background-color: transparent;
        }

        &.a-button--info {
            color: $state-info;
            background-color: transparent;
        }

        &.a-button--success {
            color: $state-success;
            background-color: transparent;
        }
    }

    &.a-button--small {
        font-size: .8rem;
        padding: $spacer-x-small $spacer-small;
    }

    &.a-button--xs {
        font-size: .7rem;
        padding: $spacer-2x-small $spacer-x-small;
    }

    &.a-button--danger {
        color: $white;
        border-color: $state-danger;
        background-color: $state-danger;
    }

    &.a-button--warning {
        color: $white;
        border-color: $state-warning;
        background-color: $state-warning;
    }

    &.a-button--success {
        color: $white;
        border-color: $state-success;
        background-color: $state-success;
    }

    &.a-button--info {
        color: $white;
        border-color: $state-info;
        background-color: $state-info;
    }

    &.a-button--outline {
        border: 2px solid $grey-dark;
        background-color: transparent;
        color: $grey-dark;

        &.a-button--danger {
            border-color: $state-danger;
            color: $state-danger;
        }

        &.a-button--warning {
            border-color: $state-warning;
            color: $state-warning;
        }

        &.a-button--info {
            border-color: $state-info;
            color: $state-info;
        }

        &.a-button--success {
            border-color: $state-success;
            color: $state-success;
        }
    }
}

* > .a-button:not(:last-of-type) {
    margin-right: $spacer-small;
}
