.a-input {
    margin-bottom: $spacer;

    .a-input__label {
        color: $grey-dark;
        font-size: .9rem;
        display: inline-block;
        margin-bottom: $spacer-small;
    }

    &__error {
        color: $state-danger;
        margin-top: $spacer-x-small;
    }

    .a-input__field {
        width: 100%;
        background: transparent;
        border: 2px solid $grey-dark;
        padding: $spacer-small;
        color: $grey-dark;
        height: 47px;
        border-radius: $border-radius;

        &:disabled {
            border: 2px solid $grey;
            cursor: not-allowed;
            color: $grey;
        }
    }

    textarea.a-input__field {
        min-height: 150px;
    }

    .a-input__hidden {
        display: none;
    }

    .a-input__toggle {
        width: $spacer-2x-large;
        height: $spacer-large;
        border-radius: $spacer-large;
        background-color: $state-danger;
        position: relative;
        display: block;

        &.a-input__toggle--checked {
            background-color: $state-success;

            &::before {
                left: calc(#{$spacer-large} + #{$spacer-3x-small});
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: $spacer-3x-small;
            top: $spacer-3x-small;
            background-color: $white;
            border-radius: 50%;
            width: $spacer;
            height: $spacer;
            transition: all .2s ease;
        }
    }

    .ng-dropdown-panel.ng-select-bottom {
        margin-top: 0;
    }

    .ng-select .ng-select-container {
        position: relative;
        width: 100%;
        background: transparent;
        border: 2px solid $grey-dark;
        color: $grey-dark;
        min-height: 47px;
        border-radius: $border-radius;

        &.ng-select-opened .ng-arrow-wrapper .ng-arrow {
            border-color: transparent transparent $grey-dark;
        }

        .ng-arrow-wrapper .ng-arrow {
            border-color: $grey-dark transparent transparent;
        }

        .ng-clear-wrapper {
            color: $grey-dark;
        }

        .ng-value-container {
            padding: $spacer-small;

            .ng-value {
                border-radius: 0;
                padding: $spacer-3x-small / 2 0;
            }

            .ng-input {
                padding-left: $spacer-small;
                top: $spacer-small;
            }
        }
    }
}
