<app-header description="User" [title]="'Editing ' + form.get('firstName').value"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('firstName')"
                label="First name"
                [disabled]="true"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('lastName')"
                label="Last name"
                [disabled]="true"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('email')"
                label="Email"
                type="email"
                [disabled]="true"
            ></app-text-input>
            <app-role-input
                [formControl]="form.get('role')"
                label="Role"
            ></app-role-input>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
