<div class="p-login">
    <div class="p-login__image"></div>
    <div class="p-login__content">
        <img src="/assets/img/logo-dark.png" alt="IBS Logo" class="p-login__logo">
        <h1 class="u-margin-bottom-xs">Login to your website</h1>
        <p class="u-margin-top-xs u-margin-bottom-lg">Enter your login details below</p>
        <form [formGroup]="form" (submit)="handleSubmit($event)">
            <app-text-input
                [formControl]="form.get('email')"
                label="Email"
                type="email"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('password')"
                label="Password"
                type="password"
            ></app-text-input>
            <p>Click <a routerLink="/auth/reset-password">here</a> to request a password reset</p>
            <input type="submit" class="a-button" value="Login">
        </form>
    </div>
</div>
