<app-header description="Content" [title]="(contentType$ | async)?.name | plural">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Create {{ (contentType$ | async)?.name | singular }}</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <ng-container *ngFor="let field of (contentType$ | async)?.fields">
                        <th *ngIf="field.showOnOverview">{{ field.name }}</th>
                    </ng-container>
                    <th style="width: 150px;">Last updated</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of (content$ | async)">
                    <ng-container *ngFor="let field of (contentType$ | async)?.fields">
                        <td *ngIf="field.showOnOverview">
                            <app-table-preview
                                [content]="content.fields[field.slug]"
                                [fieldType]="field.fieldType"
                            ></app-table-preview>
                        </td>
                    </ng-container>
                    <td>{{ content.updatedAt | amTimeAgo }}</td>
                    <td>
                        <a [routerLink]="content.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
