<app-header description="Tenant" title="Create tenant"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('name')"
                label="Name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('slug')"
                label="Slug"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('url')"
                label="URL"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
        </div>
    </form>
</div>
