<app-header description="Tenant" [title]="'Editing ' + form.get('name')?.value"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    General
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('name')"
                label="Name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('slug')"
                label="Slug"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('url')"
                label="URL"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Stroage
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('storage').get('config').get('host')"
                label="Host"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('storage').get('config').get('user')"
                label="User"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('storage').get('config').get('password')"
                label="Password"
            ></app-text-input>
            <app-boolean-input
                [formControl]="form.get('storage').get('config').get('secure')"
                label="Secure"
            ></app-boolean-input>
        </div>
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Mail
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('mail').get('config').get('host')"
                label="Host"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('mail').get('config').get('port')"
                label="Port"
            ></app-text-input>
            <app-boolean-input
                [formControl]="form.get('mail').get('config').get('secure')"
                label="Secure"
            ></app-boolean-input>
            <app-text-input
                [formControl]="form.get('mail').get('config').get('user')"
                label="User"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('mail').get('config').get('password')"
                label="Password"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
