<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <input [type]="type" [formControl]="control" class="a-input__field" [placeholder]="placeholder">
    <ng-container *ngIf="ngControl.invalid && ngControl.touched">
        <app-validation-message [errors]="ngControl.errors"></app-validation-message>
    </ng-container>
</div>
