<app-header description="Content" [title]="'Editing ' + contentType?.name | singular" [meta]="content?.state"></app-header>
<div class="o-page" *ngIf="form">
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Administration
            </h3>
        </div>
        <div class="u-display--flex">
            <div class="u-flex-1 u-margin-right">
                <app-text-input
                    [formControl]="form.get('name')"
                    label="Administrative name"
                ></app-text-input>
            </div>
            <div class="u-flex-1 u-margin-left">
                <app-text-input
                    [formControl]="form.get('slug')"
                    label="Slug"
                ></app-text-input>
            </div>
        </div>
    </div>
    <div class="o-page__section" *ngIf="(languages$ | async)?.length">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Language
            </h3>
        </div>
        <div class="m-button-group">
            <button
                *ngFor="let availableLanguage of (languages$ | async)"
                [class]="{
                    'a-button': true,
                    'a-button--active': language === availableLanguage?.key
                }"
                (click)="setLanguage(availableLanguage?.key)"
            >
                {{ availableLanguage?.label }}
            </button>
        </div>
    </div>
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Content
            </h3>
        </div>
        <div *ngFor="let field of contentType?.fields; let i = index">
            <app-dynamic-input
                [label]="field.name || ''"
                [config]="field.config"
                [component]="field.fieldType"
                [subfields]="field.subfields"
                [formControl]="form.get('fields')?.get(field.slug)"
                [multiLanguage]="field.multiLanguage"
                [language]="language"
            ></app-dynamic-input>
        </div>
    </div>
    <div class="o-page__section">
        <div class="u-display--flex u-display--space-between">
            <div>
                <button type="submit" class="a-button a-button--success" (click)="submit($event,  action)" *ngFor="let action of content.actions">{{ action }}</button>
            </div>
            <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
        </div>
    </div>
</div>
