<app-header title="Users">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Create user</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>email</th>
                    <th style="width: 150px;">Last updated</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of (content$ | async)">
                    <td>{{ content.firstName }}</td>
                    <td>{{ content.lastName }}</td>
                    <td>{{ content.email }}</td>
                    <td>{{ content.updatedAt | amTimeAgo }}</td>
                    <td>
                        <a [routerLink]="content.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
