<app-header description="Content" [title]="'New ' + (contentType$ | async)?.name | singular"></app-header>
<div class="o-page" *ngIf="form">
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Administration
            </h3>
        </div>
        <div class="u-display--flex">
            <div class="u-flex-1 u-margin-right">
                <app-text-input
                    [formControl]="form.get('name')"
                    label="Administrative name"
                ></app-text-input>
            </div>
            <div class="u-flex-1 u-margin-left">
                <app-text-input
                    [formControl]="form.get('slug')"
                    label="Slug"
                ></app-text-input>
            </div>
        </div>
    </div>
    <div class="o-page__section" *ngIf="(languages$ | async)?.length">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Language
            </h3>
        </div>
        <div class="m-button-group">
            <button
                *ngFor="let availableLanguage of (languages$ | async)"
                [class]="{
                    'a-button': true,
                    'a-button--active': language === availableLanguage?.key
                }"
                (click)="setLanguage(availableLanguage?.key)"
            >
                {{ availableLanguage?.label }}
            </button>
        </div>
    </div>
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Content
            </h3>
        </div>
        <div *ngFor="let field of (contentType$ | async)?.fields; let i = index">
            <app-dynamic-input
                [label]="field.name || '' + field.multiLanguage && '(int)'"
                [config]="field.config"
                [component]="field.fieldType"
                [subfields]="field.subfields"
                [formControl]="form.get('fields')?.get(field.slug)"
                [multiLanguage]="field.multiLanguage"
                [language]="language"
            ></app-dynamic-input>
        </div>
    </div>
    <div class="o-page__section">
        <button type="submit" class="a-button a-button--success" (click)="submit($event)">Create</button>
    </div>
</div>
