<div class="o-page__section">
    <div class="o-page__section-info">
        <h3 class="o-page__section-title">
            General info
        </h3>
    </div>
    <app-text-input
        [formControl]="form.get('name')"
        label="Name"
        placeholder="A clever name here"
    ></app-text-input>
    <app-text-input
        [formControl]="form.get('slug')"
        label="Slug"
        placeholder="blog-posts"
    ></app-text-input>
    <app-text-input
        [formControl]="form.get('description')"
        label="Description"
        placeholder="Some info about this"
    ></app-text-input>
</div>
<div class="o-page__section">
    <div class="o-page__section-info">
        <h3 class="o-page__section-title">
            Items
        </h3>
        <button (click)="pushFieldToArray($event)" class="a-button a-button--success a-button--small">Add item</button>
    </div>
    <div class="m-field-config">
        <div *ngFor="let item of form['controls'].items['controls']; let i = index">
            <app-text-input
                [formControl]="item.get('label')"
                label="Label"
            ></app-text-input>
            <app-text-input
                [formControl]="item.get('value')"
                label="Value"
            ></app-text-input>
            <a href="#" (click)="removeField($event, i)" class="a-button a-button--danger a-button--small">Delete</a>
        </div>
    </div>
</div>
