<app-header description="Users" title="Create user"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('firstName')"
                label="First name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('lastName')"
                label="Last name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('email')"
                label="Email"
                type="email"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('password')"
                label="Password"
                type="password"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
        </div>
    </form>
</div>
