<app-header description="Tenant language" [title]="'Editing ' + form.get('label')?.value"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('key')"
                label="Key"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('label')"
                label="Label"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
