<app-header title="Dashboard"></app-header>
<div class="o-page">
    <div class="o-page__section o-page__section--borderless">
        <div class="u-row">
            <div class="u-col-2">
                <div class="a-box">
                    <p class="a-box__title">LAST HOUR</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.lastHour }} views</p>
                </div>
            </div>
            <div class="u-col-2">
                <div class="a-box a-box--primary">
                    <p class="a-box__title">LAST 24 HOURS</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.lastDay }} views</p>
                </div>
            </div>
            <div class="u-col-2">
                <div class="a-box">
                    <p class="a-box__title">LAST WEEK</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.lastWeek }} views</p>
                </div>
            </div>
            <div class="u-col-2">
                <div class="a-box">
                    <p class="a-box__title">LAST MONTH</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.lastMonth }} views</p>
                </div>
            </div>
            <div class="u-col-2">
                <div class="a-box">
                    <p class="a-box__title">LAST YEAR</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.lastYear }} views</p>
                </div>
            </div>
            <div class="u-col-2">
                <div class="a-box">
                    <p class="a-box__title">ALL TIME</p>
                    <p class="a-box__content">{{ (data$ | async)?.hits.allTime }} views</p>
                </div>
            </div>
        </div>
    </div>
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h2 class="o-page__section-title">
                Page views
            </h2>
        </div>
        <div class="m-chart">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="(data$ | async)?.hours || []"
                [curve]="curve"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                xAxisLabel="Date"
                yAxisLabel="Views">
            </ngx-charts-line-chart>
        </div>
    </div>
    <div class="o-page__section">
        <div class="u-row">
            <div class="u-col-6">
                <div class="o-page__section-info">
                    <h2 class="o-page__section-title">
                        Popular content
                    </h2>
                </div>
                <table class="m-table">
                    <thead>
                        <tr>
                            <th style="width: 100px;">Views</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let content of (data$ | async)?.popularContent">
                            <td>{{ content.count }}</td>
                            <td>{{ content.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="u-col-6">
                <div class="o-page__section-info">
                    <h2 class="o-page__section-title">
                        Popular pages
                    </h2>
                </div>
                <table class="m-table">
                    <thead>
                        <tr>
                            <th style="width: 100px;">Views</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let content of (data$ | async)?.popularPages">
                            <td>{{ content.count }}</td>
                            <td>{{ content.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
