<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <label [ngClass]="{
        'a-input__toggle': true,
        'a-input__toggle--checked': !!control.value
    }">
        <input type="checkbox" [formControl]="control" class="a-input__hidden">
    </label>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
