.m-file-input {
    &__preview {
        display: flex;
        position: relative;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

        > span {
            background-color: $grey-lightest;
            flex: 1;
            align-items: center;
            display: flex;
            padding-left: $spacer-small;
            min-height: $spacer-x-large;
        }
    }
}
