.m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacer-2x-large;

    .m-header__description {
        margin: 0;
        font-size: .8rem;
        color: $grey;
    }

    .m-header__title {
        margin: 0;
    }

    .m-header__meta {
        color: $grey;
        text-transform: uppercase;
    }
}
