.m-menu {
    .m-menu__description {
        font-weight: bold;
        color: $grey;
        text-transform: uppercase;
        font-size: .8rem;
        padding-bottom: $spacer-small;
    }

    .m-menu__list {
        margin: 0;
        padding: 0;
        list-style: none;

        .m-menu__item {
            font-weight: 600;
            text-transform: uppercase;

            &:first-of-type a {
                padding-top: 0;
            }

            &:last-of-type a {
                padding-bottom: 0;
            }

            a {
                display: flex;
                align-items: center;
                padding: $spacer-small 0;
                color: $grey-light;
                transition: all .2s ease;

                span {
                    transition: all .2s ease;
                    padding-right: $spacer;
                }

                &:hover, &.m-menu__link--active {
                    color: $grey-lighter;

                    span {
                        color: $primary;
                    }
                }
            }
        }
    }
}
