.m-table {
    width: 100%;
    border-collapse: collapse;

    .m-table__action {
        text-align: right;
    }

    .m-table__row--not-selectable {
        pointer-events: none;
        opacity: .5;
    }

    &__image {
        position: relative;
        top: 2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    &.m-table--selectable {
        tbody tr {
            td {

                height: 68px;
            }
            cursor: pointer;
        }

        tbody tr:hover {
            background-color: $grey-lighter;
        }
    }

    thead {
        tr {
            th {
                border: none;
                text-align: left;
                font-weight: normal;
                font-size: .9rem;
                color: $grey-dark;

                &:first-of-type {
                    padding-left: $spacer;
                }

                &:last-of-type {
                    padding-right: $spacer;
                }
            }
        }
    }

    tbody {
        tr {
            th, td {
                border: none;
                padding: $spacer 0;

                &:first-of-type {
                    padding-left: $spacer;
                }

                &:last-of-type {
                    padding-right: $spacer;
                }
            }

            &:nth-child(even) {
                background-color: $grey-lightest;
            }
        }
    }
}
