<app-header title="Page Types">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Create page type</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <th style="width: 50px;"></th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th style="width: 150px;">Last updated</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contentType of (pageTypes$ | async)">
                    <td><span [class]="'uil uil-' + contentType.icon"></span></td>
                    <td>{{ contentType.name }}</td>
                    <td>{{ contentType.slug }}</td>
                    <td>{{ contentType.updatedAt | amTimeAgo }}</td>
                    <td>
                        <a [routerLink]="contentType.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
