<div class="p-register">
    <div class="p-register__image"></div>
    <div class="p-register__content">
        <img src="/assets/img/logo-dark.png" alt="IBS Logo" class="p-register__logo">
        <h1 class="u-margin-bottom-xs">Reset your password</h1>
        <p class="u-margin-top-xs u-margin-bottom-lg">Enter your email below</p>
        <form [formGroup]="form" (submit)="handleSubmit($event)">
            <app-text-input
                [formControl]="form.get('emailAddress')"
                label="Email"
                type="email"
            ></app-text-input>
            <input type="submit" class="a-button" value="Reset">
        </form>
    </div>
</div>
