<app-header description="Users" [title]="'Editing ' + form.get('firstName').value"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('firstName')"
                label="First name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('lastName')"
                label="Last name"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('email')"
                label="Email"
                type="email"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('password')"
                label="Password"
                type="password"
                placeholder="Leave empty to not update"
            ></app-text-input>
            <app-tenant-input
                [formControl]="form.get('tenants')"
                [multiple]="true"
                label="Tenants access"
            ></app-tenant-input>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
