<div class="p-register">
    <div class="p-register__image"></div>
    <div class="p-register__content">
        <app-loading [loading]="loading$ | async">
            <img src="/assets/img/logo-dark.png" alt="IBS Logo" class="p-register__logo">
            <h1>You are invited to {{ invite?.tenant?.name }}</h1>
            <p class="u-margin-bottom">Just click the button down below to get started!</p>
            <a (click)="acceptInvite($event)" class="a-button a-button--success">Accept invite</a>
        </app-loading>
    </div>
</div>
