<div class="o-modal">
    <div class="o-modal__header">
        <h3>Create action</h3>
        <a href="#" (click)="close($event)"><span class="uil uil-times"></span></a>
    </div>
    <div class="o-modal__body">
        <app-text-input
            [formControl]="form.get('action')"
            label="Action"
        ></app-text-input>
        <app-select-input
            [formControl]="form.get('newState')"
            label="New state"
            [options]="getExistingStates()"
        ></app-select-input>
    </div>
    <div class="o-modal__footer">
        <button class="a-button a-button--success" (click)="save()">Add</button>
        <button class="a-button a-button--warning a-button--outline" (click)="close($event)">Close</button>
    </div>
</div>
