<app-header description="Tenant languages" title="Add language"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <app-text-input
                [formControl]="form.get('key')"
                label="Key"
            ></app-text-input>
            <app-text-input
                [formControl]="form.get('label')"
                label="Label"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
        </div>
    </form>
</div>
