<div class="o-modal">
    <div class="o-modal__header">
        <h3>Upload something</h3>
        <a href="#" (click)="close($event)"><span class="uil uil-times"></span></a>
    </div>
    <div class="o-modal__body">
        <input type="file" multiple="multiple" (change)="handleFiles($event)">
    </div>
    <!-- <div class="o-modal__footer">
        <button class="a-button a-button--success" (click)="save()">Choose</button>
        <button class="a-button a-button--warning a-button--outline" (click)="close()">Close</button>
    </div> -->
</div>
