<app-header description="Taxonomy" title="New"></app-header>
<div class="o-page">
    <app-taxonomy-form (formChange)="handleFormUpdate($event)"></app-taxonomy-form>
    <div class="o-page__section">
        <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
    </div>
</div>
