<app-header description="Views" title="New"></app-header>
<div class="o-page">
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                General info
            </h3>
        </div>
        <app-text-input
            [formControl]="form.get('name')"
            label="Name"
            placeholder="A clever name here"
        ></app-text-input>
        <app-textarea-input
            [formControl]="form.get('description')"
            label="Description"
            placeholder="Some info about this view"
        ></app-textarea-input>
        <app-select-input
            [formControl]="form.get('viewType')"
            [options]="[
                {
                    label: 'Dynamic Content',
                    value: 'dynamic'
                },
                {
                    label: 'Static Content',
                    value: 'static'
                }
            ]"
            label="View Type"
            placeholder="A clever name here"
        ></app-select-input>
        <app-select-input
            [formControl]="form.get('contentType')"
            label="Content Type"
            [options]="contentTypes$ | async"
        ></app-select-input>
    </div>
    <ng-container *ngIf="form?.value?.viewType === 'dynamic' && selectedContentType">
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Conditions
                </h3>
                <button (click)="addCondition($event)" class="a-button a-button--success a-button--small">Add condition</button>
            </div>
            <div class="u-display--flex u-display--align-bottom" *ngFor="let condition of form.get('configuration').get('conditions').controls; let i = index">
                <div class="u-flex-1 u-margin-right-xs">
                    <app-select-input
                        [formControl]="condition.get('field')"
                        label="Field"
                        placeholder="Choose a field"
                        [options]="getColumns()"
                    ></app-select-input>
                </div>
                <div class="u-flex-1 u-margin-left-xs u-margin-right-xs">
                    <app-select-input
                        [formControl]="condition.get('operator')"
                        label="Operator"
                        [options]="[
                            {
                                label: 'Equals',
                                value: '='
                            },
                            {
                                label: 'Not equals',
                                value: '!='
                            },
                            {
                                label: 'Like',
                                value: 'LIKE'
                            },
                            {
                                label: 'Not like',
                                value: 'NOT LIKE'
                            }
                        ]"
                    ></app-select-input>
                </div>
                <div class="u-flex-1 u-margin-left-xs u-margin-right-xs">
                    <app-dynamic-input
                        [formControl]="condition.get('value')"
                        label="Value"
                        [component]="findField(condition.get('field')?.value)?.fieldType"
                        [config]="findField(condition.get('field')?.value)?.config"
                    ></app-dynamic-input>
                </div>
                <div class="u-margin-left-xs u-margin-bottom">
                    <button class="a-button a-button--danger" (click)="removeCondition(i)">
                        <span class="uil uil-times"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Options
                </h3>
            </div>
            <div class="u-display--flex">
                <div class="u-flex-1 u-margin-right-xs">
                    <app-select-input
                        [formControl]="form.get('configuration').get('order').get('column')"
                        label="Colum"
                        [options]="getColumns()"
                    ></app-select-input>
                </div>
                <div class="u-flex-1 u-margin-left-xs">
                    <app-select-input
                        [formControl]="form.get('configuration').get('order').get('direction')"
                        label="Direction"
                        [options]="[
                            {
                                label: 'Ascending',
                                value: 'ASC'
                            },
                            {
                                label: 'Descending',
                                value: 'DESC'
                            }
                        ]"
                    ></app-select-input>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="form?.value?.viewType === 'static' && selectedContentType">
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Content
                </h3>
            </div>
            <div class="u-display--flex u-display--align-bottom">
                <div class="u-flex-1 u-margin-right-xs">
                    <app-content-input
                        [formControl]="contentFormControl"
                        label="Content item"
                        [contentType]="form?.value?.contentType"
                    ></app-content-input>
                </div>
                <button (click)="addContentItem(contentFormControl.value)" class="a-button a-button--success u-margin-bottom">Add content item</button>
            </div>
            <div dragula="views" [dragulaModel]="form.get('configuration').get('conditions').value" (dragulaModelChange)="handleDrop($event)">
                <div class="u-display--flex u-display--align-center" *ngFor="let condition of form.get('configuration').get('conditions').value; let i = index">
                    <div class="u-flex-1 u-margin-right-xs">
                        {{ findInPreview(condition?.value)?.name }}
                        <small class="u-text-light">{{ condition?.value }}</small>
                    </div>
                    <div class="u-margin-left-xs u-margin-bottom">
                        <button class="a-button a-button--danger a-button--small" (click)="removeCondition(i)">
                            <span class="uil uil-times"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="o-page__section" *ngIf="preview">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                Preview
            </h3>
        </div>
        <table class="m-table">
            <thead>
                <tr>
                    <ng-container *ngFor="let field of selectedContentType?.fields">
                        <th *ngIf="field.showOnOverview">{{ field.name }}</th>
                    </ng-container>
                    <th style="width: 150px;">Last updated</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of preview">
                    <ng-container *ngFor="let field of selectedContentType?.fields">
                        <td *ngIf="field.showOnOverview">
                            <app-table-preview
                                [content]="content.fields[field.slug]"
                                [fieldType]="field.fieldType"
                            ></app-table-preview>
                        </td>
                    </ng-container>
                    <td>{{ content.updatedAt | amTimeAgo }}</td>
                    <td>
                        <a [routerLink]="content.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="o-page__section">
        <div class="u-display--flex u-display--space-between">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
            <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
        </div>
    </div>
</div>
