<ng-container [ngSwitch]="component">
    <ng-container *ngSwitchCase="'text-input'">
        <app-text-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [placeholder]="config?.placeholder"
        ></app-text-input>
    </ng-container>

    <ng-container *ngSwitchCase="'boolean-input'">
        <app-boolean-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
        ></app-boolean-input>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea-input'">
        <app-textarea-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [placeholder]="config?.placeholder"
        ></app-textarea-input>
    </ng-container>

    <ng-container *ngSwitchCase="'richtext-input'">
        <app-richtext-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [placeholder]="config?.placeholder"
        ></app-richtext-input>
    </ng-container>

    <ng-container *ngSwitchCase="'uil uil-input'">
        <app-icon-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
        ></app-icon-input>
    </ng-container>

    <ng-container *ngSwitchCase="'content-input'">
        <app-content-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [multiple]="!!config?.multiple"
            [contentType]="config?.contentType"
        ></app-content-input>
    </ng-container>

    <ng-container *ngSwitchCase="'contenttype-input'">
        <app-contenttype-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [multiple]="!!config?.multiple"
        ></app-contenttype-input>
    </ng-container>

    <ng-container *ngSwitchCase="'taxonomy-input'">
        <app-taxonomy-input
            [multiple]="!!config?.multiple"
            [taxonomy]="config?.taxonomy"
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
        ></app-taxonomy-input>
    </ng-container>

    <ng-container *ngSwitchCase="'taxonomy-group-input'">
        <app-taxonomy-group-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
        ></app-taxonomy-group-input>
    </ng-container>

    <ng-container *ngSwitchCase="'image-input'">
        <app-image-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [multiple]="!!config?.multiple"
        ></app-image-input>
    </ng-container>

    <ng-container *ngSwitchCase="'file-input'">
        <app-file-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [multiple]="!!config?.multiple"
            [allowedExtensions]="config?.allowedExtensions"
        ></app-file-input>
    </ng-container>

    <ng-container *ngSwitchCase="'map-input'">
        <app-map-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
        ></app-map-input>
    </ng-container>

    <ng-container *ngSwitchCase="'repeater'">
        <app-repeater
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [subfields]="subfields"
        ></app-repeater>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <app-text-input
            [formControl]="control"
            [label]="label + (multiLanguage ? ' (int)' : '')"
            [placeholder]="config?.placeholder"
        ></app-text-input>
    </ng-container>
</ng-container>
