<div class="o-sidebar">
    <div class="o-sidebar__wrapper">
        <div class="o-sidebar__name">
            <h1><span class="uil uil-archive"></span> IBS <small>v{{ (status$ | async)?.version }}</small></h1>
        </div>
        <div class="o-sidebar__links">
            <app-menu [links]="adminLinks" description="Admin"></app-menu>
        </div>
    </div>
    <div class="o-sidebar__user">
        <span><span class="uil uil-user"></span>{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</span>
        <span>
            <a routerLink="/dashboard" class="u-margin-right">
                <span class="uil uil-view-apps"></span>
            </a>
            <a href="#" (click)="handleLogout($event)">
                <span class="uil uil-exit"></span>
            </a>
        </span>
    </div>
</div>
