<div class="o-wrapper">
    <app-sidebar
        [tenants]="authService.tenants"
        (logout)="handleLogout()"
        (tenantSelected)="handleTenantChange($event)"
    ></app-sidebar>
    <div class="o-content">
        <router-outlet></router-outlet>
    </div>
</div>
