<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <ng-select
        [items]="data"
        [formControl]="control"
        [multiple]="false"
        (search)="handleSearch($event)"
    ></ng-select>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
