<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <div leaflet style="height: 400px;"
        leafletDraw
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        (leafletDrawCreated)="handleDrawCreated($event)"
        (leafletDrawStop)="handleMapControl()"
        (leafletDrawEditStop)="handleMapControl()"
        (leafletDrawDeleteStop)="handleMapControl()"
        (leafletMapMove)="handleMapControl()"
        (leafletMapReady)="handleMapReady($event)"
        (leafletMapZoom)="handleMapControl()">
    </div>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
