.p-register {
    display: flex;
    width: 100%;

    &__image {
        background: url(https://images.unsplash.com/photo-1567073327537-effe8a88f452?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9) center center;
        background-size: cover;
        height: 100vh;
        width: 300px;
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background: rgba(0, 0, 0, 0.8);
        }
    }

    &__logo {
        width: 150px;
    }

    &__content {
        margin: 0 0 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            width: 400px;
        }
    }
}
