<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <textarea [formControl]="control" class="a-input__field" [placeholder]="placeholder"></textarea>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
