<app-header description="Page Types" [title]="form?.get('name')?.value"></app-header>
<div class="o-page">
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                General info
            </h3>
        </div>
        <app-text-input
            [formControl]="form.get('name')"
            label="Name"
            placeholder="A clever name here"
        ></app-text-input>
        <app-text-input
            [formControl]="form.get('slug')"
            label="Slug"
            placeholder="blog-posts"
        ></app-text-input>
        <app-text-input
            [formControl]="form.get('description')"
            label="Description"
            placeholder="Some info about this content type"
        ></app-text-input>
        <app-select-input
            [formControl]="form.get('initial')"
            label="Initial state"
            placeholder="The initial state"
            [options]="getStates()"
        ></app-select-input>
    </div>
    <div class="o-page__section">
        <div class="o-page__section-info">
            <h3 class="o-page__section-title">
                States
            </h3>
            <button (click)="addState($event)" class="a-button a-button--success a-button--small">Add state</button>
        </div>
        <!-- <pre>{{ form.value | json }}</pre> -->
        <div dragula="states" [dragulaModel]="form.get('states').value" (dragulaModelChange)="handleDrop($event)">
            <div
                [class]="{
                    'm-workflow-config__state': true,
                    'm-workflow-config__state--open': true
                }"
                *ngFor="let item of form['controls'].states['controls']; let i = index"
            >
                <div class="m-workflow-config__action-bar">
                    <h4>
                        {{ form.get('states').get(i.toString()).get('name')?.value }}
                    </h4>
                    <div>
                        <a href="#" class="a-button a-button--small a-button--danger" (click)="removeState($event, i)">
                            <span class="uil uil-trash"></span>
                        </a>
                        <a href="#" class="a-button a-button--small a-button--outline" (click)="toggleFieldExpansion($event, i)">
                            <span [class]="{
                                'uil': true,
                                'uil-angle-down': !openFields[i],
                                'uil-angle-up': openFields[i]
                            }"></span>
                        </a>
                    </div>
                </div>
                <div class="m-workflow-config__config">
                    <app-text-input
                        [formControl]="item.get('name')"
                        label="Name"
                        placeholder="A clever name here"
                    ></app-text-input>
                    <app-text-input
                        [formControl]="item.get('slug')"
                        label="Slug"
                        placeholder="blog-posts"
                    ></app-text-input>
                    <div class="u-display--flex">
                        <div class="u-flex-1 u-margin-right-xs">
                            <div class="u-display--flex u-display--space-between">
                                <h3>Actions:</h3>
                                <button (click)="addAction($event, i)" class="a-button a-button--success a-button--small">Add action</button>
                            </div>
                            <div *ngFor="let action of item.get('on').value | keyvalue">
                                {{ action.key}} <span class="uil uil-chevron-right"></span> {{action.value}}
                                <button class="a-button a-button--danger a-button--xs" (click)="removeAction($event, i, action.key)">
                                    <span class="uil uil-times"></span>
                                </button>
                            </div>
                        </div>
                        <div class="u-flex-1 u-margin-left-xs">
                            <div class="u-display--flex u-display--space-between">
                                <h3>Patches:</h3>
                                <button (click)="addPatch($event, i)" class="a-button a-button--success a-button--small">Add patch</button>
                            </div>
                            <div *ngFor="let patch of item.get('meta')?.value?.patches || []; let patchIndex = index;">
                                {{ patch.path }}: {{ patch.value }}
                                <button class="a-button a-button--danger a-button--xs" (click)="removePatch($event, i, patchIndex)">
                                    <span class="uil uil-times"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-page__section">
        <div class="u-display--flex u-display--space-between">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
            <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
        </div>
    </div>
</div>
