<div class="a-input m-file-input">
    <div class="a-input__label">{{ label }}</div>
    <ng-container *ngIf="!multiple">
        <div *ngIf="control.value">
            <div class="m-file-input__preview">
                <span>
                    {{ control.value }}
                </span>
            </div>
            <button class="a-button u-margin-top-sm" (click)="openModal($event)">Change file</button>
        </div>
        <div *ngIf="!control.value">
            <button class="a-button" (click)="openModal($event)">Select file</button>
        </div>
    </ng-container>
    <ng-container *ngIf="multiple">
        <div *ngIf="control.value" dragula="images" [dragulaModel]="control.value" (dragulaModelChange)="handleDrop($event)" class="m-file-input__file-list">
            <div class="m-file-input__preview u-margin-right-xs u-margin-bottom-xs" *ngFor="let file of control.value; let i = index">
                <span>{{ file }} </span>
                <button class="m-file-input__delete a-button a-button--danger a-button--small" (click)="removeFile(i)">
                    <span class="uil uil-times"></span>
                </button>
            </div>
        </div>
        <div><button class="a-button" (click)="openModal($event)">Add file</button></div>
    </ng-container>
</div>
