<div [ngClass]="{
    'o-sidebar': true,
    'o-sidebar--open': open
}">
    <div class="o-sidebar__hamburger">
        <span [ngClass]="{
            'uil': true,
            'uil-bars': !open,
            'uil-cross': open
        }" (click)="toggleOpen($event)"></span>
    </div>
    <div class="o-sidebar__wrapper">
        <div class="o-sidebar__branding">
            <img src="/assets/img/logo-color-light.png" alt="IBS Logo" /> <small>v{{ (status$ | async)?.version }}</small>
        </div>
        <div class="o-sidebar__tenant">
            <div class="o-sidebar__tenant-wrapper">
                <div class="o-sidebar__tenant-info">
                    <h2 class="o-sidebar__tenant-name">{{ (tenant$ | async)?.name }}</h2>
                    <p class="o-sidebar__tenant-url">
                        {{ (tenant$ | async)?.url }}
                    </p>
                </div>
                <a href="#" (click)="toggleTenantSelector($event)" [ngClass]="{
                    'uil': true,
                    'uil-angle-down': !tenantSelectorOpen,
                    'uil-angle-up': tenantSelectorOpen
                }"></a>
            </div>
            <div [ngClass]="{
                'o-sidebar__tenant-selector': true,
                'o-sidebar__tenant-selector--open': tenantSelectorOpen
            }">
                <ul>
                    <li *ngFor="let tenant of tenants">
                        <a href="#" (click)="chooseTenant($event, tenant)">{{ tenant.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="o-sidebar__links">
            <app-menu [links]="coreLinks"></app-menu>
        </div>
        <div class="o-sidebar__links">
            <app-menu [links]="pageTypes$ | async" description="Pages"></app-menu>
        </div>
        <div class="o-sidebar__links">
            <app-menu [links]="contentTypes$ | async" description="Content"></app-menu>
        </div>
        <div class="o-sidebar__links">
            <app-menu [links]="tenantLinks" description="Tenant"></app-menu>
        </div>
    </div>
    <div class="o-sidebar__user">
        <span><span class="uil uil-user"></span>{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</span>
        <span>
            <a routerLink="/admin/tenants" class="u-margin-right">
                <span class="uil uil-view-apps"></span>
            </a>
            <a href="#" (click)="handleLogout($event)">
                <span class="uil uil-exit"></span>
            </a>
        </span>
    </div>
</div>
