.o-modal {
    background-color: $white;
    min-width: 500px;

    &.o-modal--big {
        min-width: 800px;
    }

    .o-modal__header {
        padding: $spacer-large;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }
    }

    .o-modal__body {
        border-top: 1px solid $grey-lighter;
        padding: $spacer-large;
    }

    .o-modal__footer {
        border-top: 1px solid $grey-lighter;
        padding: $spacer-large;
    }
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;
  }
