.o-page {
    .o-page__section {
        border-top: 1px solid $grey-lighter;
        padding: $spacer-2x-large;

        &--borderless {
            padding-top: 0;
            border-top: none;
        }

        .o-page__section-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $spacer;

            .o-page__section-title {
                margin: 0;
            }
        }
    }
}
