.o-sidebar {
    width: 350px;
    background: $background-color;
    color: $grey-lighter;
    height: 100vh;
    position: relative;
    transition: all .2s ease;

    .o-sidebar__hamburger {
        color: $white;
        padding: $spacer;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }

    .o-sidebar__wrapper {
        height: calc(100vh - 70px);
        overflow: auto;
    }

    .o-sidebar__branding {
        padding: $spacer-large $spacer-x-large;
        background: $background-color-light;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        img {
            width: 150px;
        }

        small {
            font-size: .8rem;
            color: $grey;
        }
    }

    .o-sidebar__tenant-wrapper {
        padding: $spacer-2x-large $spacer-x-large;
        display: flex;
        justify-content: space-between;

        .o-sidebar__tenant-name {
            margin: 0;
        }

        .o-sidebar__tenant-url {
            margin: 0;
            color: $grey;
        }

        .o-sidebar__tenant-link {
            font-size: 1.2rem;
        }
    }

    .o-sidebar__tenant-selector {
        max-height: 0;
        transition: all .2s ease;
        overflow: auto;
        background-color: $background-color-light;

        ul {
            padding: $spacer-small 0;
            list-style: none;
            margin: 0;

            li a {
                display: block;
                padding: $spacer-small $spacer-x-large;
            }
        }

        &--open {
            // https://stackoverflow.com/a/8331169
            max-height: 150px;
        }
    }

    .o-sidebar__links {
        padding: $spacer-large $spacer-x-large;
        border-top: 1px solid $background-color-light;
    }

    .o-sidebar__user {
        padding: $spacer-large $spacer-x-large;
        background: $background-color-light;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        span.icon-user {
            padding-right: $spacer;
        }
    }
}


@media (max-width: 1050px) {
    .o-sidebar:not(.o-sidebar--open) {
        width: 60px;
        overflow: hidden;

        .o-sidebar__wrapper {
            opacity: 0;
        }

        .o-sidebar__user {
            opacity: 0;
        }
    }

    .o-sidebar {
        .o-sidebar__hamburger {
            display: block;
        }
    }
}
