<div class="p-register">
    <div class="p-register__image"></div>
    <div class="p-register__content">
        <app-loading [loading]="loading$ | async">
            <img src="/assets/img/logo-dark.png" alt="IBS Logo" class="p-register__logo">
            <h1>Update your password</h1>
            <form [formGroup]="form" (submit)="handleSubmit($event)" *ngIf="form">
                <app-text-input
                    [disabled]="true"
                    [formControl]="form.get('emailAddress')"
                    label="Email"
                    type="email"
                ></app-text-input>
                <app-text-input
                    [formControl]="form.get('password')"
                    label="Password"
                    type="password"
                ></app-text-input>
                <input type="submit" class="a-button" value="Update">
            </form>
        </app-loading>
    </div>
</div>
