<app-header description="Taxonomy" [title]="updatedTaxonomy?.name"></app-header>
<div class="o-page">
    <app-taxonomy-form (formChange)="handleFormChange($event)" [taxonomy]="taxonomy"></app-taxonomy-form>
    <div class="o-page__section">
        <div class="u-display--flex u-display--space-between">
            <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
            <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
        </div>
    </div>
</div>
