<app-header title="Workflows">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Create workflow</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <th style="width: 50px;"></th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th style="width: 150px;">Last updated</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workflow of (workflows$ | async)">
                    <td><span [class]="'uil uil-' + workflow.icon"></span></td>
                    <td>{{ workflow.name }}</td>
                    <td>{{ workflow.slug }}</td>
                    <td>{{ workflow.updatedAt | amTimeAgo }}</td>
                    <td>
                        <a [routerLink]="workflow.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
