<app-header title="Languages">
    <div class="action">
        <a routerLink="create" class="a-button a-button--info"><span class="uil uil-plus"></span> Add language</a>
    </div>
</app-header>
<div class="o-page">
    <div class="o-page__section">
        <table class="m-table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Label</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of (content$ | async)">
                    <td>{{ content.key }}</td>
                    <td>{{ content.label }}</td>
                    <td>
                        <a [routerLink]="content.uuid" class="a-button a-button--small">
                            <span class="uil uil-pen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
