<app-header description="Roles" [title]="'Editing ' + role?.name | singular"></app-header>
<div class="o-page" *ngIf="form">
    <form [formGroup]="form">
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    General
                </h3>
            </div>
            <app-text-input
                [formControl]="form.get('name')"
                label="Role name"
            ></app-text-input>
        </div>
        <div class="o-page__section">
            <div class="o-page__section-info">
                <h3 class="o-page__section-title">
                    Permissions
                </h3>
            </div>
            <ng-container *ngFor="let group of (permissions$ | async)">
                <h4>{{ group.name }}</h4>
                <ng-container *ngFor="let permission of group.permissions">
                    <app-checkbox-input
                        [formControl]="form.get('permissions')?.get(permission.value)"
                        [label]="permission.label"
                        [value]="permission.value"
                        name="permissions"
                    ></app-checkbox-input>
                </ng-container>
            </ng-container>
        </div>
        <div class="o-page__section">
            <div class="u-display--flex u-display--space-between">
                <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
                <button type="submit" class="a-button a-button--danger a-button--outline" (click)="delete($event)">Delete</button>
            </div>
        </div>
    </form>
</div>
