<app-header description="Content Types" title="New"></app-header>
<div class="o-page">
    <app-entity-type-form
        [contentFields]="contentFields"
        [workflows]="workflows"
        (formChange)="handleFormChange($event)"
    ></app-entity-type-form>
    <div class="o-page__section">
        <button type="submit" class="a-button a-button--success" (click)="submit($event)">Save</button>
    </div>
</div>
