body, select, option {
    font-family: 'Cera Pro';
}

a {
    text-decoration: none;
    color: $primary;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    border-top: 1px solid $grey-lighter;
}
