.u-display--flex {
    display: flex;
}

.u-display--align-center {
    align-items: center;
}

.u-display--align-bottom {
    align-items: flex-end;
}

.u-flex-1 {
    flex: 1;
}

.u-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0;
    min-width: 100%;
}

.u-text-light {
    color: $grey;
    font-weight: normal;
}

.u-text-danger {
    color: $state-danger;
}

.u-display--space-between {
    align-items: center;
    justify-content: space-between;
}

.u-margin-top-lg {
    margin-top: $spacer-large;
}

.u-margin-top {
    margin-top: $spacer;
}

.u-margin-top-sm {
    margin-top: $spacer-small;
}

.u-margin-top-xs {
    margin-top: $spacer-x-small;
}

.u-margin-bottom-lg {
    margin-bottom: $spacer-large;
}

.u-margin-bottom {
    margin-bottom: $spacer;
}

.u-margin-bottom-sm {
    margin-bottom: $spacer-small;
}

.u-margin-bottom-xs {
    margin-bottom: $spacer-x-small;
}

.u-margin-left-lg {
    margin-left: $spacer-large;
}

.u-margin-left {
    margin-left: $spacer;
}

.u-margin-left-sm {
    margin-left: $spacer-small;
}

.u-margin-left-xs {
    margin-left: $spacer-x-small;
}

.u-margin-right-lg {
    margin-right: $spacer-large;
}

.u-margin-right {
    margin-right: $spacer;
}

.u-margin-right-sm {
    margin-right: $spacer-small;
}

.u-margin-right-xs {
    margin-right: $spacer-x-small;
}





.u-padding-top-lg {
    padding-top: $spacer-large;
}

.u-padding-top {
    padding-top: $spacer;
}

.u-padding-top-sm {
    padding-top: $spacer-small;
}

.u-padding-top-xs {
    padding-top: $spacer-x-small;
}

.u-padding-bottom-lg {
    padding-bottom: $spacer-large;
}

.u-padding-bottom {
    padding-bottom: $spacer;
}

.u-padding-bottom-sm {
    padding-bottom: $spacer-small;
}

.u-padding-bottom-xs {
    padding-bottom: $spacer-x-small;
}

.u-padding-left-lg {
    padding-left: $spacer-large;
}

.u-padding-left {
    padding-left: $spacer;
}

.u-padding-left-sm {
    padding-left: $spacer-small;
}

.u-padding-left-xs {
    padding-left: $spacer-x-small;
}

.u-padding-right-lg {
    padding-right: $spacer-large;
}

.u-padding-right {
    padding-right: $spacer;
}

.u-padding-right-sm {
    padding-right: $spacer-small;
}

.u-padding-right-xs {
    padding-right: $spacer-x-small;
}
