$background-color: $grey-darker;
$background-color-light: $grey-dark;

$border-radius: 3px;

// Spacing
$spacer: 1rem;

$spacer-2x-large: $spacer * 3;
$spacer-x-large: $spacer * 2;
$spacer-large: $spacer * 1.5;
$spacer-small: $spacer / 1.5;
$spacer-x-small: $spacer / 2;
$spacer-2x-small: $spacer / 3;
$spacer-3x-small: $spacer / 4;
