<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <select [formControl]="control" class="a-input__field">
        <option disabled>Choose an option</option>
        <option *ngFor="let option of options; trackBy: trackByFn" [value]="option.value">{{ option.label }}</option>
    </select>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
