<div class="a-input">
    <div class="a-input__label">{{ label }}</div>
    <ckeditor [editor]="Editor" [formControl]="control"></ckeditor>
    <p *ngIf="ngControl.invalid && ngControl.touched">ERROR</p>
</div>
