<div class="o-modal">
    <div class="o-modal__header">
        <h3>Create a directory</h3>
        <a href="#" (click)="close()"><span class="uil uil-times"></span></a>
    </div>
    <div class="o-modal__body">
        <app-text-input
            [formControl]="form.get('name')"
            label="Directory name"
        ></app-text-input>
    </div>
    <div class="o-modal__footer">
        <button class="a-button a-button--success" (click)="submit()">Create</button>
        <button class="a-button a-button--warning a-button--outline" (click)="close()">Close</button>
    </div>
</div>
